@foreach (var movie in Model)
{
<div class="col-md-auto col-sm-auto col-lg-auto mb-5">
    <div class="card" style="width: 12rem;">
        <img src="@movie.ImageUrl" class="card-img-top" alt="@movie.Name (@movie.Year)">
        <div class="card-body text-center">
            <h5 class="card-title">@movie.Name (@movie.Year)</h5>
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">More</a>
            @if (ViewData["Title"].ToString() == "Welcome" && !User.IsInRole(WebConstants.administratorRoleName))
            {
        <a asp-controller="Watchlist" asp-action="Add" asp-route-id="@movie.Id" class="btn btn-outline-secondary" onclick="return confirm('Are you sure want to add @movie.Name to your Watchlist?')">Add to watchlist</a> }
                        else if (User.IsInRole(WebConstants.administratorRoleName))
                        {
                            <a asp-controller="Movies" asp-action="Remove" asp-route-id="@movie.Id" class="btn btn-danger" onclick="return confirm('Are you sure want to delete @movie.Name')">Remove</a>
                            <a asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-outline-secondary">Edit</a>
                        }
                        else
                        {
                            <a asp-controller="Watchlist" asp-action="Remove" asp-route-id="@movie.Id" class="btn btn-danger" onclick="return confirm('Are you sure want to delete @movie.Name?')">Remove</a>
                        }
        </div>
    </div>
</div>}
